<?xml version="1.0" encoding="UTF-8"?>
<Server port="${base.shutdown.port}" shutdown="SHUTDOWN">
    <Listener className="org.apache.catalina.core.JasperListener"/>
    <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener"/>
    <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener"/>
    <Listener className="com.springsource.tcserver.licensing.LicensingLifecycleListener"/>
    <Listener className="com.springsource.tcserver.serviceability.deploy.TcContainerDeployer"/>
    <Listener accessFile="${catalina.base}/conf/jmxremote.access"
        authenticate="true" bind="localhost" cipherSuites=""
        className="com.springsource.tcserver.serviceability.rmi.JmxSocketListener"
        clientAuth="false" keystoreFile="" keystorePass=""
        passwordFile="${catalina.base}/conf/jmxremote.password"
        port="${base.jmx.port}" protocols="" truststoreFile=""
        truststorePass="" useJdkClientFactory="true" useSSL="false"/>
    <GlobalNamingResources>
        <Resource auth="Container"
            description="User database that can be updated and saved"
            factory="org.apache.catalina.users.MemoryUserDatabaseFactory"
            name="UserDatabase" pathname="conf/tomcat-users.xml" type="org.apache.catalina.UserDatabase"/>
        <Environment description="" name="midtier/cipherAlgorithm"
            type="java.lang.String" value="DESede"/>
        <Environment
            description="Controls enabling and disabling of the cache. Set to Y to enable and N to disable."
            name="midtier/enableCache" type="java.lang.String" value="Y"/>
        <Environment description="Log Path" name="midtier/logPath"
            type="java.lang.String" value="/opt/temp"/>
        <Environment description="Cipher Secret"
            name="midtier/cipherSecret" type="java.lang.String" value="GYEI/dp3HzacxVYxY+GBUg=="/>
        <Environment
            description="Set to Y to enable the background email attachment task"
            name="midtier/enableBackgroundEmailAttachmentTask"
            type="java.lang.String" value="Y"/>
        <Environment description="Set to Y to enable background jobs (midtier server), N to disable (midtier-batch server)."
            value="N" type="java.lang.String" name="midtier/enableBackgroundJobs" />
        <Resource auth="Container"
            description="User database that can be updated and saved"
            factory="org.apache.catalina.users.MemoryUserDatabaseFactory"
            name="UserDatabase" pathname="conf/tomcat-users.xml" type="org.apache.catalina.UserDatabase"/>
        <Resource
            description="JDBC Datasource configuration for the host database"
            driverClassName="net.sourceforge.jtds.jdbc.Driver"
            factory="com.springsource.tcserver.serviceability.request.DataSourceFactory"
            jdbcInterceptors="ConnectionState;StatementFinalizer;SlowQueryReportJmx(threshold=20000)"
            fairQueue="true" initialSize="0" jmxEnabled="true"
            logAbandoned="true" maxActive="50" maxIdle="2"
            maxWait="5000" minEvictableIdleTimeMillis="5000" minIdle="0"
            name="jdbc/midtier/hostdb" password="p5f9cagme"
            removeAbandoned="true" removeAbandonedTimeout="60"
            testOnBorrow="true" testOnReturn="false"
            testWhileIdle="false" timeBetweenEvictionRunsMillis="5000"
            type="javax.sql.DataSource"
            url="jdbc:jtds:sqlserver://usseavdb00:2080/CT_HOST;socketTimeout=60;loginTimeout=60"
            useEquals="true" username="ussea7xadmin"
            validationInterval="30000" validationQuery="select 1" validationQueryTimeout="10"/>
    </GlobalNamingResources>
    <Service name="Catalina">
        <Executor maxThreads="450" minSpareThreads="50"
            name="tomcatThreadPool" namePrefix="tomcat-http--"/>
        <Engine defaultHost="localhost" name="Catalina">
            <Realm className="org.apache.catalina.realm.LockOutRealm">
                <Realm
                    className="org.apache.catalina.realm.UserDatabaseRealm" resourceName="UserDatabase"/>
            </Realm>
            <Host appBase="webapps" autoDeploy="true"
                deployOnStartup="true" deployXML="true" name="localhost"
                unpackWARs="true" xmlNameSpaceAware="false" xmlValidation="false">
<!--               
<Valve
                    className="org.apache.catalina.valves.AccessLogValve"
                    directory="logs"
                    pattern="%h %l %u %t &quot;%r&quot; %s %b"
                    prefix="localhost_access_log." suffix=".txt"/>
-->
            </Host>
            <Valve className="com.springsource.tcserver.serviceability.request.ThreadDiagnosticsValve" loggingInterval="5000" notificationInterval="5000" threshold="20000" logExtendedData="true"/>
        </Engine>
        <Connector SSLEnabled="false" acceptCount="100"
            connectionTimeout="20000" executor="tomcatThreadPool"
            maxKeepAliveRequests="15" maxThreads="200"
            port="${bio.http.port}"
            protocol="org.apache.coyote.http11.Http11Protocol"
            redirectPort="${bio.https.port}" scheme="http" secure="false"/>
        <Connector SSLEnabled="false" acceptCount="150"
            connectionTimeout="20000" maxKeepAliveRequests="1"
            maxSpareThreads="75" maxThreads="600" minSpareThreads="25" tcpNoDelay="true" processorCache="350"
            port="2007" protocol="HTTP/1.1" redirectPort="8443"
            scheme="http" secure="false"/>
        <Connector connectionTimeout="20000" maxThreads="200"
            port="8009" protocol="org.apache.coyote.ajp.AjpProtocol"
            redirectPort="8443" request.useSecret="false" scheme="http"/>
    </Service>
    <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener"/>
</Server>
